<h1>your booked trips</h1>
<% @bookings.each do |trip| %>
  <%= trip.booking_start.strftime("%b %-d, %Y") %>
  <%= trip.booking_end.strftime("%b %-d, %Y") %>
  <%= trip.yacht.name %>
  <%= trip.yacht.description %>
  <%= trip.yacht.price_per_day %>
  <%= trip.yacht.photo %>
  <%= link_to "Edit booking", edit_yacht_booking_path(trip.yacht, trip) %>
  <%= link_to "Delete booking", yacht_booking_path(trip.yacht, trip), method:"delete" %>
<% end %>



