<!-- dashboard hosted -->
<h1>Posts:</h1>
<div class="cards-wrapper">
  <h1 class="vertical-text yacht-header-design yacht-header-longline yacht-header-shortline">POSTS</h1>
  <div class="container">
    <!-- <div class="wrapper"> -->
      <div class="row">
         <% @hosted.each do |post| %>
         <div class="col-xs-12  col-md-6 ">
          <div class="big-card">
          <% if post.photo.present? %>
          <div class="card" style="background-image: url('<%= cl_image_path post.photo, height: 500, crop: :fit %>')">
            <div class="">
              <div class="square">
           <div class="card-body">
                <h2>  <%= post.name %></h2>

                <div class="info">
                  <h3><%= post.price_per_day %> $ per night</h3>
                  <h4><%= post.description %></h4>
                 <%= link_to "edit", edit_yacht_path(post) %>
                  <%= link_to "delete", yacht_path(post), method:"delete"  %>
                </div>

           </div>
           </div>
            </div>
          </div>
          <% else %>
           <div class="card" style="background-image: url('<%= image_path "yachtdefault.jpg", height: 500, crop: :fit %>')">
            <div class="">
              <div class="square">
           <div class="card-body">
                <h2>  <%= post.name %></h2>

                <div class="info">
                  <h3><%= post.price_per_day %> $ per night</h3>
                  <h4><%= post.description %></h4>
                  <%= link_to "edit", edit_yacht_path(post) %>
                  <%= link_to "delete", yacht_path(post), method:"delete"  %>
                </div>

           </div>
           </div>
            </div>
          </div>
          <% end %>
          </div>
        </div>
      <%end %>

      </div>
  <!--   </div> -->
  </div>



  <!-- dashboard_booked -->

<h1>Booked:</h1>

  <div class="cards-wrapper">
  <h1 class="vertical-text yacht-header-design yacht-header-longline yacht-header-shortline">TRIPS</h1>
  <div class="container">
    <!-- <div class="wrapper"> -->
      <div class="row">
         <% @bookings.each do |trip| %>
         <div class="col-xs-12  col-md-6 ">
          <div class="big-card">
          <% if trip.yacht.photo.present? %>
          <div class="card" style="background-image: url('<%= cl_image_path trip.yacht.photo, height: 500, crop: :fit %>')">
            <div class="">
              <div class="square">
           <div class="card-body">
                <h2>  <%= trip.yacht.name %></h2>
                <h6>Starting <%= trip.booking_start.strftime("%b %-d, %Y") %> until <%= trip.booking_end.strftime("%b %-d, %Y") %></h6>

                <div class="info">
                  <h3><%= trip.yacht.price_per_day %> $ per night</h3>
                  <h4><%= trip.yacht.description %></h4>
                  <%= link_to "Edit booking", edit_yacht_booking_path(trip.yacht, trip) %>
                  <%= link_to "Delete booking", yacht_booking_path(trip.yacht, trip), method:"delete" %>
                </div>

           </div>
           </div>
            </div>
          </div>
          <% else %>
           <div class="card" style="background-image: url('<%= image_path "yachtdefault.jpg", height: 500, crop: :fit %>')">
            <div class="">
              <div class="square">
           <div class="card-body">
                <h2>  <%= trip.yacht.name %></h2>
                <%= trip.booking_start.strftime("%b %-d, %Y") %>
                <%= trip.booking_end.strftime("%b %-d, %Y") %>
                <div class="info">
                  <h3><%= trip.yacht.price_per_day %> $ per night</h3>
                  <h4><%= trip.yacht.description %></h4>
                  <%= link_to "Edit booking", edit_yacht_booking_path(trip.yacht, trip) %>
                  <%= link_to "Delete booking", yacht_booking_path(trip.yacht, trip), method:"delete" %>
                </div>

           </div>
           </div>
            </div>
          </div>
          <% end %>
          </div>
        </div>
      <%end %>

      </div>
  <!--   </div> -->
  </div>
<h1>You have <%= @bookings.count %> bookings</h1>
<h2>Checkout:</h2>
<% @bookings.each do |booking| %>
<h3>Cruise duration: <%= (booking.booking_start - booking.booking_end).abs.to_i %> days</h3>
<h6>Starting <%= booking.booking_start.strftime("%b %-d, %Y") %> until <%= booking.booking_end.strftime("%b %-d, %Y") %></h6>
<h3>Total price: <%= booking.yacht.price_per_day * (booking.booking_start - booking.booking_end).abs.to_i %>$</h3>
<div class="btn btn-warning">Checkout</div>
<% end %>





