<div class="cards-wrapper">
  <h1 class="vertical-text yacht-header-design yacht-header-longline yacht-header-shortline">POSTS</h1>
  <div class="container">
    <!-- <div class="wrapper"> -->
      <div class="row">
         <% @hosted.each do |post| %>
         <div class="col-xs-12  col-md-6 ">
          <div class="big-card">
          <% if post.photo.present? %>
          <div class="card" style="background-image: url('<%= cl_image_path post.photo, height: 500, crop: :fit %>')">
            <div class="">
              <div class="square">
           <div class="card-body">
                <h2>  <%= post.name %></h2>

                <div class="info">
                  <h3><%= post.price_per_day %> $ per night</h3>
                  <h4><%= post.description %></h4>
                 <%= link_to "edit", edit_yacht_path(post) %>
                  <%= link_to "delete", yacht_path(post), method:"delete"  %>
                </div>

           </div>
           </div>
            </div>
          </div>
          <% else %>
           <div class="card" style="background-image: url('<%= image_path "yachtdefault.jpg", height: 500, crop: :fit %>')">
            <div class="">
              <div class="square">
           <div class="card-body">
                <h2>  <%= post.name %></h2>

                <div class="info">
                  <h3><%= post.price_per_day %> $ per night</h3>
                  <h4><%= post.description %></h4>
                  <%= link_to "edit", edit_yacht_path(post) %>
                  <%= link_to "delete", yacht_path(post), method:"delete"  %>
                </div>

           </div>
           </div>
            </div>
          </div>
          <% end %>
          </div>
        </div>
      <%end %>

      </div>
  <!--   </div> -->
  </div>
