<h1>your posted yachts</h1>
<% @hosted.each do |post| %>
  <%= post.name %>
  <%= post.description %>
  <%= post.price_per_day %>
  <%= post.photo %>
  <%= link_to "Edit post", edit_yacht_path(post) %>
<% end %>
