<!--banner-->


<h1>Header one </h1>


<!--link-->
<a href="#" class="yacht-link">ALL </a>

<!--button-->
<a href="#" class="btn-yours">MY BUTTON</a>



<!--card-->

<div class="container">
  <div class="wrapper">
    <div class="row">
      <%  %>
       <div class="col-xs-12  col-md-4 col-sm-6 ">
          <div class="info">
        <div class="card"><%= image_tag"https://images.unsplash.com/photo-1525092703556-f2d561118425?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1400&q=60", alt: "Le Wagon", width: 200 %>
              <h2> Yacht name</h2>
        <div class="square">

         <div class="card-body">
              <h3>From$103 / night</h3>
           <a href="#" class="btn-card">Details</a>
         </div>
       </div>
          </div>
        </div>
      </div>
    <% %>
    </div>
  </div>
</div>








<!-- <div class="container">
  <div class="wrapper">
    <div class="row">
       <% #@yachts.each do |yacht| %>
       <div class="col-xs-12  ">
       <div class="big-card">
          <div class="card"><%=#cl_image_tag  yacht.photo, height: 500, width: 600, crop: :fill %>
             </div>
           <div class="info">
             <div class="square">
          <div class="card-body">
               <h2>  <%=# yacht.name %></h2>
               <h3><%= #yacht.price_per_day %> $ per night</h3>
            <a href="<%= #yacht_path(yacht) %>" class="btn-card">Details</a>
          </div>
          </div>
           </div>

       </div>
      </div>
    <%3end %>
    </div>
