<h1>Yachts list</h1>
<ul>
  <% @yachts.each do |yacht| %>
    <li>
      <%= yacht.name %>
      <%= yacht.description %>
      <%= yacht.price_per_day %>
      <%= cl_image_tag yacht.photo, height: 300, width: 400, crop: :fill %>
      <%= yacht.user.email %>
      <%= link_to "Details", yacht_path(yacht) %>
    </li>
  <% end %>
</ul>
<%= link_to "Become a host", new_yacht_path %>
