
<div id="parallax-world-of-ugg">

<section>
  <div class="title">
       <h3>Welcome aboard on the</h3>
    <h1> <%= @yacht.name %></h1>

  </div>
</section>

<section>
    <div class="parallax-one" style="background-image: url('<%= cl_image_path @yacht.photo %>');">
      <h2><%= @yacht.name %></h2>
    </div>
</section>

<section>
  <div class="block">
    <p><span class="first-character sc">I</span></p>
    <p class="line-break margin-top-10"></p>
    <p class="margin-top-10">
  <%= @yacht.description %>
  <%= @yacht.price_per_day %>
  <% if @yacht.photo.present? %>

  <% else %>
    <%= image_tag "yachtdefault", alt: "alttext" %>
  <% end %>
  <%= @yacht.user.email %></p>
  <%= link_to "Back to list", yachts_path %>
  <% if policy(@yacht).edit? %>
  <%= link_to "Edit", edit_yacht_path(@yacht) %>
<% end %>
<% if policy(@yacht).destroy? %>
  <%= link_to "Delete", yacht_path(@yacht), method: "delete" %>
<% end %>
<%= render 'bookings/new' %>
  </div>

<%= link_to "Add review", new_yacht_review_path(@yacht) %>
</section>
<%= render "reviews/index" %>


<section>
<div
  id="map" class="parallax-two"
  style="
  height: 100vh;"
  data-markers="<%= @marker.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
</section>
<div class="parallax-three" style="background-image: url('<%= cl_image_path @yacht.photo %>');">
      <h2><%= @yacht.name %></h2>

    </div>
</section>

