
<div id="parallax-world-of-ugg">

<section>
  <div class="title">
       <h3>Welcome aboard on the</h3>
    <h1> <%= @yacht.name %></h1>
  </div>
</section>

<section>
    <% if @yacht.photo.present? %>
      <div class="parallax-one" style="background-image: url('<%= cl_image_path @yacht.photo %>');">
        <h2><%= @yacht.name %></h2>
      </div>
    <% else %>
      <div class="parallax-one" style="background-image: url('<%= image_path "yachtdefault.jpg", alt: "alttext" %>');">
       <h2><%= @yacht.name %></h2>
      </div>
    <% end %>
</section>

<section>
  <div class="block">

    <p><span class="first-character sc">I</span><%= @yacht.description %></p>
    <p class="line-break margin-top-10"></p>
    <p class="margin-top-10">
  <p><%= @yacht.price_per_day %>$ per night</p>

 <p>Contact: <%= @yacht.user.email %></p>
 </p>
<p><%= link_to "Back", yachts_path, class: 'yacht-link' %></p>

<div class="review-border">
  <%= render "reviews/index" %>
<% if @yacht.reviews.present? %>
  <a href="<%= new_yacht_review_path(@yacht) %>" class="btn-card shift-up-added-review"  >Share your experience with us</a>
<% else %>
  <a href="<%= new_yacht_review_path(@yacht) %>" class="btn-card shift-up"  >Share your experience with us</a>
<% end %>
</div>
    </div>


</section>


<section class="flex-show">


  <%= render 'bookings/new' %>

<div
  id="map" class="parallax-two"
  style="
  height: 50vh;"
  data-markers="<%= @marker.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

</section>
     <% if @yacht.photo.present? %>
        <div class="parallax-three" style="background-image: url('<%= cl_image_path @yacht.photo %>');">
        <h2><%= @yacht.name %></h2>
      <% else %>
          <div class="parallax-three" style="background-image: url('<%= image_path "yachtdefault.jpg", alt: "alttext" %>');">
        <h2><%= @yacht.name %></h2>
    </div>
    <% end %>
</section>
